
@{
    ViewData["Title"] = "Movie Submitted";
}

@model Mission7.Models.MovieSubmission
<!-- Confirmation page -->

<h1> @Model.Title has been added</h1>

<form>
    <a asp-controller="Home" asp-action="List">View Movies</a>
    <br />
    <a asp-controller="Home" asp-action="Form">Add another movie</a>
</form>


